<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="ParaBank Test Suite">

    <test name="ParaBank Tests">
        <classes>
            <class name="tests.AccountOpeningTest"/>
            <class name="tests.FundTransferTest"/>
            <class name="tests.BillPaymentTest"/>
        </classes>
    </test>

</suite>